<!DOCTYPE html>
<html>
  <head>
    <title>Redux Todos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if logged_in? %>
      <h4>Welcome, <%= current_user.username %></h4>
      <%= button_to 'Logout', session_url, method: :delete %>
    <% end %>
    <%= render 'shared/errors', errors: flash[:errors] %>
    <%= yield %>
  </body>
</html>
