<%= render 'shared/errors' %>

<h2><%= @band.name %></h2>
<br>

<h3>Albums</h3>
<ul>
  <% @band.albums.each do |album| %>
    <li><%= link_to "#{album.title}", album_url(album) %></li>
  <% end %>
</ul>

<%= link_to 'Edit Band', edit_band_url(@band) %> |
<%= link_to 'Add Album', new_band_album_url(@band) %>
<br/>

<%= link_to 'Bands', bands_url %>
