<h1><%= @sub.title %></h1>
<p>
  <%= @sub.description %>
</p>
<%= link_to 'Make New Post', new_post_url %>
<ul>
  <% @sub.posts.sort_by(&:vote_count).reverse.each do |post| %>
    <li>
      (<%= post.vote_count %>)<%= link_to post.title, post_url(post) %>
      <div style="display: flex">
        <%= button_to 'Upvote', upvote_post_url(post), method: :post,
         disabled: post.upvoted_by?(current_user) %>
        <%= button_to 'Downvote', downvote_post_url(post), method: :post,
         disabled: post.downvoted_by?(current_user) %>
      </div>
    </li>
  <% end %>
</ul>

<% if moderator? %>
  <a href="<%= edit_sub_url(@sub) %>">Edit</a>
<% end %>
