<% action = album.persisted? ? album_url(album) : albums_url %>
<% method = album.persisted? ? :patch : :post %>
<% submit_text = (album.persisted? ? 'Update' : 'Create') + ' album' %>

<form action="<%= action %>" method="POST">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method %>">

  <label>Band:
    <select name="album[band_id]" id="band_id">
      <option disabled selected>-- Select Band ---</option>
      <% Band.all.each do |band| %>
        <option
          <%= album.band == band ? 'selected' : '' %>
          value="<%= band.id %>">
          <%= band.name %>
        </option>
      <% end %>
    </select>
  </label>
  <br/>

  <label>Title: 
    <input name="album[title]" type="text" value="<%= album.title %>"/>
  </label>
  <br/>

  <label>Year: 
    <input name="album[year]" type="text" value="<%= album.year %>"/>
  </label>
  <br/>

  <label>Live:
    <input type="radio" name="album[live]" 
           <%= album.live ? 'checked' : '' %>
           value="true"/>T
    <input type="radio" name="album[live]"
           <%= album.live ? '' : 'checked' %>
           value="false"/>F
  </label>

  <br/>
  <br/>
  <input type="submit" value="<%= submit_text %>">

</form>
