<%= render 'shared/errors' %>

<h2><%= @track.title %></h2>

<% if !@track.lyrics.blank? %>
  <h3>Lyrics</h3>
  <p><%= ugly_lyrics @track.lyrics %></p>
<% end %>

<%= render 'notes/form', track: @track %>

<% if @track.notes %>
  <h3>Notes</h3>
  <% @track.notes.each do |note| %>
    <%= render 'notes/note', note: note %>
  <% end %>
<% end %>

<%= link_to "Back to album", album_url(@track.album) %> | 
<%= link_to 'Edit track', edit_track_url(@track) %>
